.chosen-person > .person-name {
    float: left;
    line-height: 24px;
    font-family: Roboto-Bold,Arial;
    font-weight: bold;
    font-size: 21px;
    text-align: left;
    color: #ff672b;
    height: auto;
}

.chosen-person > .description {
    line-height: 24px;
    font-family: Roboto,Arial;
    font-size: 21px;
    text-align: left;
    color: #1f1f1f;
    height: auto;
}