/**
* SearchInput
*/

.search-input > .icon,
.search-input > .button {
  font-family: Roboto, Arial;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-bottom: solid 1px #9e9e9e;
}

.search-input > .icon {
  padding: 8px;
}

.search-input > .icon > img {
  width: 24px;
  height: 24px;
}

.search-input > .text-input {
  box-sizing: border-box;
  display: block;
  float: left;
  width: calc(100% - 80px);
  padding-left: 0;
  padding-right: 0;
}

.search-input > .button {
  cursor: pointer;
  vertical-align: top;
}

.search-input > .clear {
  clear: both;
}

/**
* RestaurantSearchListItem
*/
.restuarant-search-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.restuarant-search-item > .title,
.restuarant-search-item > .image,
.restuarant-search-item > .button {
  display: inline-block;
  box-sizing: border-box;
  line-height: 20px;
	font-family: Roboto, Arial;
	font-size: 14px;
	color: #3f3f3f;
  padding: 8px;
  vertical-align: top;
}

.restuarant-search-item > .image {
  width: 40px;
  padding: 4px;
}

.restuarant-search-item > .title {
  width: calc(100% - 80px);
}

.restuarant-search-item > .button {
  cursor: pointer;
  text-align: center;
  width: 40px;
}

.restuarant-search-item > .clear {
  clear: both;
}

.nearby-search-heading {
  width: 126px;
	height: 16px;
	font-family: Roboto, Arial;
	font-size: 14px;
	font-weight: 900;
	color: #424242;
}