.primary-btn {
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #ff672b;
  padding: 0;
  outline: none;
  width: 100%;
  padding: 16px;
  border-radius: 2px;
  background-color: #ffffff;
  font-family: Roboto, Arial;
  font-size: 16px;
  font-weight: 900;
  color: #ff672b;
  transition: 0.15s all ease;
}

.primary-btn:hover {
  background-color: #ff672b;
  color: #ffffff;
}
